.form-control {
  border: 1px solid var(--color-gray-300);
  color: inherit;
  display: inline-block;
  padding: 0.4em 1em;
  border-radius: 0.25em;
  vertical-align: middle;
}

.form-control:focus {
  border-color: var(--color-gray-500);
  box-shadow: 0 0 0 0.25rem var(--color-gray-200);
  outline: 0;
}

.form-control-xs {
  font-size: 0.75rem;
}

.form-control-sm {
  font-size: 0.9rem;
}

.form-control-lg {
  font-size: 1.1rem;
}

.form-control-xl {
  font-size: 1.25rem;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: var(--color-gray-100);
  color: var(--color-gray-400);
}

.form-control:disabled {
  pointer-events: none;
}

.form-control-block {
  display: block;
  width: 100%;
}
